<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/bg6.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Blog</h1>    
      </div>
    </div>
  </div>
  
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Who we are?</h2>
          <p>30 de Março de 2022</p>
          <h5 class="description">According to the National Oceanic and Atmospheric Administration, Ted,
            Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year
            down to low ice extent in the Pacific and a late drop in ice extent in the Barents Sea.</h5>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="nav nav-pills nav-pills-primary  nav-pills-just-icons justify-content-center tab-space">
          <div>
            <div>
              <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                  <div class="row collections">
                    <div class="col-md-12">
                      <img class="d-block blog_image" src="assets/img/bg1.jpg" alt="First slide">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    
      
        <p>
          I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I
          understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to
          show people, this is the level that things could be at.
        </p>
     
   
  </div>


  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/about-us">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
              MIT License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>