<div class="wrapper">
	<div class="page-header page-header-small">
		<div class="page-header-image rellax-header" data-rellax-speed="-8"
			style="background-image: url('assets/img/bg6.jpg');">
		</div>
		<div class="container">
			<div class="content-center">
				<h1 class="title">Projetos</h1>
			</div>
		</div>
	</div>

	<div class="section section-about-us">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<h2 class="title">Projetos</h2>
				</div>
			</div>
		</div>
	</div>


	<!-- habilidades -->
	<div class="section section-team text-center">
		<div class="container">
			<div class="team">
				<div class="row">
					<div class="col-md-4" (click)="open(classic,'' , '')">
						<div class="team-player">
							<img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded img-fluid img-raised">
							<h4 class="title">Romina Hadid</h4>
							<p class="category text-primary">Model</p>
							<p class="description">You can write here details about one of your team members.
								You can give more
								details about what they do. Feel free to add some
								<a href="#">links</a> for people to be able to follow them outside the site.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="team-player">
							<img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded img-fluid img-raised">
							<h4 class="title">Ryan Tompson</h4>
							<p class="category text-primary">Designer</p>
							<p class="description">You can write here details about one of your team members.
								You can give more
								details about what they do. Feel free to add some
								<a href="#">links</a> for people to be able to follow them outside the site.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="team-player">
							<img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded img-fluid img-raised">
							<h4 class="title">Eva Jenner</h4>
							<p class="category text-primary">Fashion</p>
							<p class="description">You can write here details about one of your team members.
								You can give more
								details about what they do. Feel free to add some
								<a href="#">links</a> for people to be able to follow them outside the site.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- habilidades -->

	<!-- paginação -->
	<div class="section section-pagination">
		<div class="container">
			<div class="row">
				<div class="col-md-0 ml-auto mr-auto content-center">
					<ngb-pagination [collectionSize]="50" [(page)]="page" aria-label="Default pagination"
						class="pagination-primary"></ngb-pagination>
				</div>
			</div>
		</div>
	</div>
	<!-- paginação -->
</div>


<!-- modal -->
<ng-template #classic let-c="close" let-d="dismiss">
	<div class="modal-header justify-content-center">
		<button type="button" class="close" (click)="d('Cross click')">
			<i class="now-ui-icons ui-1_simple-remove"></i>
		</button>
		<h4 class="title title-up">Modal title</h4>	
	</div>
	<div class="modal-body">
		<img class="d-block blog_image" src="assets/img/bg1.jpg">
	</div>
</ng-template>
<!-- modal -->